@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,700');

html {
  /** COLORS */
  --red: #bb3629;
  --white: hsl(34, 24, 92);
  --black: hsl(34, 26, 9);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Oxygen', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}
